.hvj-loader {
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
}

.hvj-loader .loader-mask {
    background: #000;
    opacity: 0.6;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.hvj-loader .loader-img {
    position: relative;
}