.hvj-app-alert {
    position: fixed;
    z-index: 3000;
    left: 20%;
    right: 20%;
}

.hvj-app-alert .alert {
    box-shadow: 0 0 24px -7px black;
}

.hvj-app-alert .alert .close {
    margin-top: -3px;
}

.hvj-app-alert .alert-text span {
    font-size: 80%;
    font-weight: bold;
    font-style: italic;
}